.singlePostWrapper{
    padding: 20px;
}
.singlePostImg{
    width:100%;
    height:300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 10px;

}
.singlePostEdit{
    float: right;
    font-size: 20px;
}
.singlePostIcons{
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.singlePostIcons:first-child{
    color: teal;
}
.singlePostIcons:last-child{
    color: tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size:16px;
    color: rgb(71, 69, 69);
}
.singlePostDesc{
    line-height: 28px;
    font-size:18px;

}